/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	font-size: 12px;
	font-size: 1.2rem;
	margin-bottom: 40px;
}

.sidebar .widget {
	background-color: #fff;
	padding: 40px;
}
