/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: $primary-shade;
	color: #fff;
	border-top: 1px solid #eee;
	font-size: 10px;
	font-size: 1rem;
	line-height: 1;
	padding: 30px 0;
	text-align: center;

	p {
		margin-bottom: 0;
		line-height: 1.5;
	}
	
	a {
		color: #fff;
		text-decoration: none;
	}
	
	small {
		display: block;
		margin-top: 5px;

		a {
			color: $accent;
		}
		
	}
	
}
