/* ## Titles
--------------------------------------------- */

.archive-title {
	font-size: 20px;
}

.entry-title {
	font-size: 36px;

	a, .sidebar .widget-title a {
		color: #333;
	}

	.entry-title a:hover {
		color: #e5554e;
	}

}

.widget-title {
	font-size: 18px;
	margin-bottom: 20px;

	.footer-widgets & {
		color: #fff;
	}

}