/* ## Buttons
--------------------------------------------- */

button, input[type="button"], input[type="reset"], input[type="submit"], .button {
    background-color: $primary-color;
}

.read-more{
	display: inline-block;
	background-color: $primary-color;
	color: #fff;
	padding: 10px;
	font-size: 18px;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

.fade {
   opacity: 1;
   transition: opacity .35s ease-in-out;
   -moz-transition: opacity .35s ease-in-out;
   -webkit-transition: opacity .35s ease-in-out;

	&:hover {
	      opacity: 0.65;
	}

}
