/* ## Typographical Elements
--------------------------------------------- */

body {
	background-color: #eee;
	color: #333;
	font-family: $font-sans;
	font-size: 20px;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.625;
	margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	@include prefixer(transition, all 0.1s ease-in-out, webkit moz ms o spec);
}

::-moz-selection {
	background-color: #333;
	color: #fff;
}

::selection {
	background-color: #333;
	color: #fff;
}

a {
	color: $primary-color;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: #333;
		text-decoration: none;
	}
}

p {
	margin: 0 0 28px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	clear: both;
	margin: 1em 0;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;

	&::before {
		content: "\201C";
		display: block;
		font-size: 30px;
		font-size: 3rem;
		height: 0;
		left: -20px;
		position: relative;
		top: -10px;
	}
}
