// Colors
$primary: #9e9ba6;
$primary-shade: #6f6d75;
$primary-tint: #bbb9c1;
$primary-pastel: #ecebed;

$secondary: #65686f;
$secondary-shade: #47494e;
$secondary-tint: #93959a;
$secondary-pastel: #e0e1e2;

$accent: #f7a7ac;
$accent-shade: #ad7579;
$accent-tint: #f9c1c5;
$accent-pastel: #fdedee;
