// Fonts
$font-display: 'Source Sans Pro', sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;

// Sets global base em size for the px-to-em and px-to-rem function.
// This should be the same size as your body font-size.
$em-base: 14px;
