/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: $color-white;
	min-height: 160px;
}

.site-header .wrap {
	padding: 40px 0;
}