/* # Responsive Menu
---------------------------------------------------------------------------------------------------- */

.responsive-menu-icon {
	cursor: pointer;
	display: none;
	margin-bottom: -1px;
	text-align: center;
}

.responsive-menu-icon::before {
	content: "\f333";
	display: inline-block;
	font: normal 20px/1 'dashicons';
	margin: 0 auto;
	/*padding: 10px;*/
	padding: 10px 5px 10px 10px;
}
.nav-primary .responsive-menu-icon::before {
	color: #fff;
}

.menu-text {
	color: #fff;
	line-height: 1;
	vertical-align: top;
	margin-top: 11px;
	display: inline-block;
}

/* To avoid noticeable vertical movement for hover state of Soliloquy's Control Nav (typically circles) and bxSlider's left and right arrows */

.soliloquy-container .soliloquy-control-nav li a,
.soliloquy-theme-classic .soliloquy-pager-link,
.bx-wrapper .bx-controls-direction a {
	-webkit-transition: none;
	-moz-transition:    none;
	-ms-transition:     none;
	-o-transition:      none;
	transition:         none;
}

/* To remove bottom border for Soliloquy controls */

.entry-content .soliloquy-controls-direction a, .entry-content a.soliloquy-pager-link {
	border-bottom: none;
}